.search {
    --padding: 5px;

    width: max-content;
    display: flex;
    align-items: right;
    padding: var(--padding);
    border-radius: 3px;
    background: #f6f6f6;
    margin-top: 50px;
    margin-right: 45px;
    float: right;
}

.search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;  
}

body{
    margin: 0;
    padding: 0;
    background: #ccc;
    font-family: Arial;
    
}
.navbar ul{
    list-style: none;
    background: rgb(27, 41, 56);
    padding: 0;
    margin: 0;
   word-spacing:0px;
  
}
.navbar li{
    display: inline-block;
    margin-left: 50px;
   
}
.navbar a{
    text-decoration: none;
    color: #ccc;
    width: 500px;
    display: 25px 250px;
    
    font-weight: bold;
    font-family: arial;
    font-size:medium;
    

}

.navbar a:hover{
   
    text-decoration: underline;
    color: rgb(0, 153, 255);
} 
ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    width: 100%;
    background:rgb(0, 153, 255); 
    position: absolute;
    z-index: 999;
    display: none;
}

body{
    margin: 0;
    padding: 0;
    background: #ccc;
    font-family: Arial;
    word-spacing:10px;
}
.upbar ul{
    list-style: none;
    background: rgb(27, 41, 56);
    padding: 0;
    margin: 0;
 

}
.upbar li{
    display: inline-block;
}
.upbar a{
    text-decoration: none;
    color: #ccc;
    width: 100px;
    display: 25px 250px;
    font-weight: bold;
    font-family: arial;
    font-size:small;
}

.upbar a:hover{
   
    text-decoration: underline;
    background: rgb(27, 41, 56);
    color-scheme: light;
} 

ul li ul.dropdown {
    width: 50%;
    background: #5c5a5a;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover {
background: #112c66;
}
ul li:hover ul.dropdown {
    display: block;
}
